<template>
  <q-layout view="hHh Lpr lff">
    <q-header bordered >
      <q-toolbar class="bg-white text-grey-8">
        <q-btn
          flat
          dense
          round
          @click="miniState = !miniState"
          aria-label="Menu"
          icon="o_menu"
          color-grey-2
        />
        <q-avatar class="q-ml-lg">
            <img src=https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png>
          </q-avatar>
        <q-toolbar-title>
          Keep
        </q-toolbar-title>

        
        <q-input class="q-pa-sm" :style="{ width: '60%'}" :input-style="{ color: '#726d6d'}" v-model="text" placeholder="Busca lo que quieras" :dense="dense" standout="bg-white" >
          <template v-slot:prepend >
            <q-icon name="o_search" />
          </template>
          <template v-slot:append>
            <q-icon name="o_close" @click="text = ''" class="cursor-pointer" />
          </template>
        </q-input>

        <q-space></q-space>

<!--         <q-input standout="bg-transparent" bottom-slots v-model="text" label="Busca lo que quieras" :dense="dense">
          <template v-slot:prepend>
            <q-icon name="place" />
          </template>
          <template v-slot:append>
            <q-icon name="close" @click="text = ''" class="cursor-pointer" />
          </template>
        </q-input> -->
      </q-toolbar>
    </q-header>

    <q-drawer
        v-model="drawer"
        show-if-above

        :mini="miniState"
        @mouseover="miniState = false"
        @mouseout="miniState = true"
        mini-to-overlay

        :width="300"
        
        :breakpoint="500"
        class="bg-white"
      >
        <q-scroll-area class="fit" >
          <q-list padding >
            <q-item clickable :active="this.active" v-ripple class="rouded-item" @click="getNotes()">
              <q-item-section avatar>
                <q-icon name="o_lightbulb" />
              </q-item-section>

              <q-item-section>
                Notas
              </q-item-section>
            </q-item>

            <q-item disable v-ripple class="rouded-item">
              <q-item-section avatar>
                <q-icon name="o_notifications" />
              </q-item-section>

              <q-item-section>
                Recordatorios
              </q-item-section>
            </q-item>

            <q-item disable v-ripple class="rouded-item">
              <q-item-section avatar>
                <q-icon name="o_edit" />
              </q-item-section>

              <q-item-section>
                Editar etiquetas
              </q-item-section>
            </q-item>

            <q-item :active="!this.active" clickable v-ripple class="rouded-item" @click="getArchivedNotes()">
              <q-item-section avatar>
                <q-icon name="o_archive" />
              </q-item-section>

              <q-item-section>
                Notas archivadas
              </q-item-section>
            </q-item>

            <q-item disable v-ripple class="rouded-item">
              <q-item-section avatar>
                <q-icon name="o_delete outlined" />
              </q-item-section>

              <q-item-section>
                Papelera
              </q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-drawer>

      <q-page-container >
        <q-page padding >
          <center>
            <div :hidden="newNote">
              <NewNote @click="switchNewNote()"></NewNote>
            </div>
            <div :hidden="!newNote" @keyup.escape="switchNewNote()">
              <NewNote2 :switchNewNote="switchNewNote" :getNotes="getNotes" :getArchivedNotes="getArchivedNotes" ></NewNote2>
            </div>
            <div class="q-pa-md row items-start q-gutter-md">
              <Notes v-for="nota in notas" :titulo="nota.title" :contenido="nota.content" :key="nota.id" :id="nota.id" :isFixed="nota.isFixed" :getNotes="getNotes" :isArchived="nota.isArchived" :getArchivedNotes="getArchivedNotes" ></Notes>
            </div>
          </center>
        </q-page>
      </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue'
import  NewNote  from './components/NewNote.vue'
import  NewNote2  from './components/NewNote2.vue'
import  Notes from './components/Notes.vue'

export default {
  name: 'LayoutDefault',
  components: {
    NewNote,
    NewNote2,
    Notes
  },
  methods: {
    switchNewNote() {
      this.newNote = !this.newNote
    },
    setActive(boolean) {
      this.active = boolean
    },
    async getNotes () {
      const res = await fetch("http://localhost:3001/api/v1/notes");
      const data = await res.json();
      this.notas = data.sort((a, b) => b.isFixed - a.isFixed);
      this.setActive(true)
    },
    async getArchivedNotes () {
      const res = await fetch("http://localhost:3001/api/v1/notes/archived");
      const data = await res.json();
      this.notas = data.sort((a, b) => b.isFixed - a.isFixed);
      this.setActive(false)
    }
  },
  setup () {
    return  {
      drawer: ref(false),
      miniState: ref(true),
      newNote: ref(false),
      notas: ref([]),
      active: true
    }
  },
  async created () {
    this.getNotes();
  }
}
</script>
