@import './base.css';
@import url('https://fonts.cdnfonts.com/css/product-sans');


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 16px;
  font-family: 'Product Sans', sans-serif !important;
  font-weight: semi-bold;
  color: #5f6368;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
/*   body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}

.q-drawer--standard {
  box-shadow: 2px 2px 4px 0px #00000042;
}