<template>
    <q-input outlined placeholder="Añade una nota..." class="newNoteField" :dense="dense" >
    <template v-slot:append>
        <q-icon class="q-mx-md" name="o_check_box" />
        <q-icon class="q-mx-md" name="o_edit" />
        <q-icon class="q-mx-md" name="o_image" />
    </template>
    </q-input>
</template>

<script>

</script>

<style>

.newNoteField {
    box-shadow: 0 1px 7px 2px #e5e5e5;
    max-width: 65%;
    margin: auto;
    color: #8a8a8a !important;
}

</style>