<template>
     <div class="items-start">
        <q-card class="newNoteCard" >
            <q-section>
                
                <q-input borderless placeholder="Titulo" class="inpt" :dense="dense" v-model="titulo">
                    <template v-slot:append>
                        <q-btn v-if="!fixed" flat round icon="o_push_pin" v-model="fixed" @click="fixed = !fixed" />
                        <q-btn v-else flat round icon="push_pin" v-model="fixed" @click="fixed = !fixed" />
                        <q-btn v-if="edit" class="" @click="showEditNote()" flat round no-caps icon="o_close"></q-btn>
                        <q-btn v-else class="" @click="switchNewNote()" flat round no-caps icon="o_close"></q-btn>
                    </template>
                </q-input>
                <q-input type="textarea" borderless placeholder="Añade una nota..." class="inpt" :dense="dense" v-model="contenido" />
            </q-section>
            <q-card-actions style="display: contents">
            <div class="q-px-md" :style="{display:'flex', 'justify-content':'space-between', 'align-items': 'center'}">
                <div>
                    <q-btn class="q-mx-sm" size="11px" flat round icon="o_add_alert" />
                    <q-btn class="q-mx-sm" size="11px" flat round icon="o_person_add_alt" />
                    <q-btn class="q-mx-sm" size="11px" flat round icon="o_palette" />
                    <q-btn class="q-mx-sm" size="11px" flat round icon="o_image" />
                    <q-btn v-if="!archived" class="q-mx-sm" size="11px" flat round icon="o_archive" v-model="archived" @click="archived=!archived"  />
                    <q-btn v-else class="q-mx-sm" size="11px" flat round icon="archive" v-model="archived" @click="archived=!archived"  />
                    <q-btn class="q-mx-sm" size="11px" flat round icon="o_delete outlined" @click="deleteNote()"/>
                    <q-btn class="q-mx-sm" size="11px" flat round icon="o_undo" />
                    <q-btn class="q-mx-sm" size="11px" flat round icon="o_redo" />
                </div>
                <div :style="{display: 'flex'}">
                    <q-btn v-if="this.edit" class="q-px-lg" @click="editNote()" size="18px" flat round no-caps label="Guardar"></q-btn>
                    <q-btn v-else class="q-px-lg" @click="postNote()" size="18px" flat round no-caps label="Guardar"></q-btn>
                </div>
            </div>
            </q-card-actions>
        </q-card>
    </div>

</template>

<script>

import axios from 'axios';

export default {
  props: {
    title: String,
    content: String,
    id: String,
    switchNewNote: Function,
    getNotes: Function,
    edit: Boolean,
    isArchived: Boolean,
    isFixed: Boolean,
    getArchivedNotes: Function,
    showEditNote: Function
  },
  data () {
    return {
        titulo: this.title,
        contenido: this.content,
        fixed:  this.isFixed,
        archived: this.isArchived
    }
  },
  methods: {
    postNote () {
        try{
            axios.post("http://localhost:3001/api/v1/notes", {
                title: this.titulo,
                content: this.contenido,
                isFixed: this.fixed,
                isArchived: this.archived
            })
            .then(res => {
                this.getNotes();
                this.titulo = "";
                this.contenido = "";
            })
        } catch (err) {
            console.log(err.message)
        }
    },
    editNote () {
        try{
            axios.put(`http://localhost:3001/api/v1/notes/${this.id}`, {
                title: this.titulo,
                content: this.contenido,
                isFixed: this.fixed,
                isArchived: this.archived
            })
            .then(res => {
                this.isArchived ? this.getArchivedNotes() : this.getNotes();
                this.showEditNote()
            })
        } catch (err) {
            console.log(err.message)
        }
    },
    filedNote() {
        axios.put(`http://localhost:3001/api/v1/notes/${this.id}`, {
            title: this.titulo,
            isArchived: true
        })
            .then(res => {
            console.log(res.data)
            this.getNotes();
        });
    },
    deleteNote() {
        axios.delete(`http://localhost:3001/api/v1/notes/${this.id}`)
        .then(res => this.getNotes())
    }
  }
}
</script>

<style>

.inpt {
    max-width: 90%;
    margin: auto;
    color: #8a8a8a !important;
}

.newNoteCard {
    max-width: 65%;
}

</style>