<template>
    <div class="noteContainer">
        <q-card flat bordered class="bg-white q-py-sm">
            <q-card-section class="q-py-xs row cardTitle">
                <div class="text-bold" @click="showEditNote()" >{{titulo}}</div>
                <q-btn v-if="isFixed" flat round size="12px" icon="push_pin"
                    @click="fixNote()"
                >
                </q-btn>
                <q-btn v-else flat round size="12px" icon="o_push_pin"
                    @click="fixNote()"
                >
                </q-btn>
            </q-card-section>
            <q-card-section class="q-py-xs" @click="showEditNote()">
                <p>
                    {{contenido}}
                </p>
            </q-card-section>
        </q-card>
        <q-dialog v-model="edit">
            <NewNote2 :title="this.titulo" :content="this.contenido" :getNotes="getNotes" :id="this.id" edit :showEditNote="showEditNote" :isArchived="this.isArchived" :isFixed="this.isFixed" :getArchivedNotes="getArchivedNotes"></NewNote2>
        </q-dialog>
    </div>
</template>

<script>

import axios from 'axios';
import { ref } from 'vue';
import NewNote2 from './NewNote2.vue';

export default {
    props: {
        titulo: String,
        contenido: String,
        id: String,
        isFixed: Boolean,
        isArchived: Boolean,
        getNotes: Function,
        getArchivedNotes: Function,
        switchNewNote: Function
    },
    methods: {
        fixNote() {
            axios.put(`http://localhost:3001/api/v1/notes/${this.id}`, {
                title: this.titulo,
                isFixed: !this.isFixed
            })
                .then(res => {
                this.isArchived ? this.getArchivedNotes() : this.getNotes();
            });
        },
        showEditNote() {
            this.edit = !this.edit;
        }
    },
    components: { NewNote2 },
    setup () {
        return {
            edit: ref(false)
        }
    }
}
</script>

<style>
.noteContainer{
    text-align: left;
    letter-spacing: .01428571em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: rgb(23, 23, 23);
    border-radius: 10px;
}
.q-card--bordered {
    border-radius: 12px !important;
    min-height: 140px;
    max-height: 300px;
    width: 240px;
}

.cardTitle {
    justify-content: space-between;
    align-items: center;
}
</style>